In [17]:
class Book:
    title = "데미안"
    author = "헤르만 헤세"
    year = 1919

In [18]:
book1 = Book()
book1.title

'데미안'

In [19]:
b1 = Book()
print(b1.title, b1.author, b1.year)

데미안 헤르만 헤세 1919

In [9]:
book1.title = "사피엔스"

In [10]:
book1.title

'사피엔스'

In [20]:
b1.title = "톰 소여의 모험"
b1.author = "마크 트웨인"
b1.year = 1876
print(b1.title, b1.author, b1.year)

톰 소여의 모험 마크 트웨인 1876

In [65]:
class Book:
    def __init__(self, title, author, year):
        self.title =  title
        self.author = author
        self.year = year

In [66]:
b1 = Book("톰 소여의 모험", "마크 트웨인", 1876)
b2 = Book("데미안", "헤르만 헤세", 1919)

print(b1.title, b1.author, b1.year)
print(b2.title, b2.author, b2.year)

톰 소여의 모험 마크 트웨인 1876
데미안 헤르만 헤세 1919

In [67]:
b1 = Book("톰 소여의 모험", "마크 트웨인", 1876)
del b1.year
print(b1.year)

AttributeError: 'Book' object has no attribute 'year'

In [68]:
b2 = Book("데미안", "헤르만 헤세", 1919)
del b2
print(b2)

NameError: name 'b2' is not defined

In [69]:
class Book:
    def __init__(self, title, author, year, price):
        self.title =  title
        self.author = author
        self.year = year
        self.__price = price

In [61]:
class Book:
    def __init__(self, title, author, year, price):
        self.title =  title
        self.author = author
        self.year = year
        self.__price = price

    def __repr__(self):
        return f"Book: {self.title}, Author: {self.author}, Year: {self.year}"

    def __hello(self):
        print("Hello")

    def hi(self):
        self.__hello()

In [62]:
book1 = Book("Americanah", " Chimamanda Adichie", 2016, 6000)
book1

Book: Americanah, Author:  Chimamanda Adichie, Year: 2016

In [63]:
print(book1)

Book: Americanah, Author:  Chimamanda Adichie, Year: 2016

In [55]:
# instantiating a new object
book1 = Book("Americanah", " Chimamanda Adichie", 2016, 6000)
book2 = Book("Teller of secrets", "Bisi Adjapon", 2021, 5000)
book3 = Book("Stay with me", "Ayobami Adebayo", 2017, 4000)

print(book3.title)
print(book3.author)
print(book3.year)

Stay with me
Ayobami Adebayo
2017

In [56]:
book1.hi()

Hello

In [8]:
from datetime import date

class Book:
    def __init__(self, title, author, publish_year):
        self.title =  title
        self.author = author
        self.publish_year = publish_year

    def get_title(self):
        return self.title

    def get_years_since_publication(self):
        current_year = date.today().year
        return current_year - self.publish_year

In [9]:
book = Book("데미안", "헤르만 헤세", 1919)
print(book.get_years_since_publication())

104

In [34]:
book1.title

NameError: name 'book1' is not defined

In [36]:
book2.title

'Teller of secrets'

In [37]:
del book2.title

In [39]:
book2.title

AttributeError: 'Book' object has no attribute 'title'

In [40]:
book3.title

'Stay with me'

TypeError: Book.__init__() missing 1 required positional argument: 'price'

In [2]:
class Person:
    bag=[]

In [3]:
Person.bag.append('a')

In [4]:
Person.bag

['a']